@model YouTubeConvertor2._0.Models.VideoItem;

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Youtube Convertor 2.0</h1>

    <form id="downloadForm" asp-controller="Youtube" asp-action="ConvertAudio" method="post">
        <div class="text-center">
            <input class="form-control" type="text" id="url" name="url" required />
        </div>
        <div class="m-3">
            <button id="ConvertBtn" class="btn btn-primary" type="submit">Convert</button>
        </div>
    </form>
</div>

@if (Model != null)
{
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-5">
            <div class="card">
                <img class="card-img-top" src="@Model.ThumbnailUrl" alt="Thumbnail" />
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => Model.Title)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => Model.Artist)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => Model.Duriation)</p>
                    <a class="btn btn-primary" href="/Youtube/DownloadFile?title=@Model.Title">Download</a>
                </div>
            </div>
        </div>
    </div>
}
